.container
    .product-main-cart-flex
        .product-main-cart-left
            .product-cart-img
                img(src="./images/decor/info.jpg", alt="info")
        .product-main-cart-right
            .product-cart-product
                h2 Знак Огнетушитель код F04
                .description
                    p Знак по пожарной безопасности Огнетушитель используется для обозначения места нахождения огнетушителя
                    .description__wrap
                        .product-cart-price 99 999 ₽
                        a(href="#").product-btn Оформить заказ